body {
    background: no-repeat url('/static/background.jpg');
    background-size: cover;
    position: relative;
    height: 100vh;
}

.banque {
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    position: absolute;
    width: max-content;
    right: 35px;
    padding: 5px 25px;
    margin: 35px;
    color: black;

}

.bienvenue {
    position: absolute;
    background: white;
    padding: 25px;
    border-radius: 15px;
    right: 15%;
    top: 22%;
    width: max-content;
    margin-right: 35px;
}

.jouer {
    margin: auto;
    border: 1px solid black;
    border-radius: 30px;
    width: max-content;
    padding: 0 10px;
}

.jouer:hover, button:hover {
    transform: scale(1.05)
}

#jeu_carte {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jeu_carte {
    background: #177540;
    padding: 50px;
}

.mise {
    margin-top: 20px;
}

.choice {
    background-color: white;
    padding: 25px;
    margin-top: 25px;
}

h5 {
    margin-bottom: 20px;
}

button {
    background-color: white;
    color: black;
    margin-top: 10px;
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    margin-top: 15px;
}

img {
    width: 60px;
    border-radius: 8px 8px 8px 8px;
    margin: 0 auto;
}

img:hover {
    border-radius: 8px 8px 8px 8px;
    margin: 0 auto;
}

#alert {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alert {
    position: absolute;
    bottom: 15px;
    background-color: white;
    width: 100%;
    color: black;
}