{% extends 'base.html' %}

{% block bankroll %}
    {{bankroll}} €
{% endblock %}

{% block body %}
    <div id="jeu_carte" class="container">
        <div class="row jeu-carte">
            {% for deck in decks %}
            <div class="col-1 mb-2" ><img src="/static/cards_deck/{{deck}}.svg"></div>
            {% endfor %}
        </div>
        <div class="choice">
            <h5>Voici votre main défintive</h5>
            <div class="row" >
                {% for draw in final_draws %}
                <div class="col-1 mb-2" ><img src="/static/cards_deck/{{draw}}.svg"></div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col text-center" >
                    <form action="/start_part" method="POST">
                        <button type="submit" name="game_again">Rejouer</button>
                    </form>
                </div>

                <div class="col text-center" >
                    <form action="/" method="POST">
                        <button type="submit">Quitter</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block alert %}
    <div id="alert" class="container">
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <strong>{{msg}}</strong>
            <span type="button" class="close" data-dismiss="alert" aria-label="Close">
                &times;
            </span>
        </div>
    </div>
{% endblock %}